body {
  height: 105vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fc4a1a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7b733, #fc4a1a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 2% 3%;
}

.Container {
  margin-top: 0;
  border-radius: 20px;
  background-color: white;
  width: 60vh;
  -moz-box-shadow:    6px 6px 5px 6px #FC4D1A;
  -webkit-box-shadow: 6px 6px 5px 6px #FC4D1A;
  box-shadow:         6px 6px 5px 6px #FC4D1A;
}

h1 {
  margin: 0;
  color: #F7B633;
  text-align: center;
  font-size: 2.5rem;
  background-color: #333;
  padding: 20px 0;
  border-radius: 20px 20px 0 0;
  font-family: 'Bree Serif', serif;
}

.imgCon {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 20vh;
}

ul {
  list-style-type: none;
  font-size: 1.5rem;
}

li {
  margin: 22px 0;
}

.ulHead {
  color: #333;
  font-family: 'Bree Serif', serif;
}

.disData {
  color: #F7B532;
}

.btnCon {
  margin-top: 7vh;
}

button {
  color: #333;
  font-family: 'Bree Serif', serif;
  font-size: 1.5rem;
  padding: 10px 15px;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 10px;
  background-color: white;
}

button:hover {
  color: white;
  background: #fc4a1a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f7b733, #fc4a1a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f7b733, #fc4a1a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media screen and (max-width: 500px){
  .Container{
    width: 35vh;
  }
  ul{
    font-size: 1.1rem;
    padding-inline-start: 20px;
  }
  button{
    font-size: 1.2rem;
  }
}
